extends layout

block content
  h1= title
  <a href='/api/tracker/create'><button nam>Create Tracker</button></a>
  br
  <a href='/api/tracker/update'><button nam>Update Tracker</button></a>
  br
  <a href='/api/tracker/locate'><button nam>Locate Tracker</button></a>
