doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places')
  body
    block content
    block script
